{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}

{% block body %}
    <!-- loader Start
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>-->
    <!-- loader END -->
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div id="container-inside">
            <div id="circle-small"></div>
            <div id="circle-medium"></div>
            <div id="circle-large"></div>
            <div id="circle-xlarge"></div>
            <div id="circle-xxlarge"></div>
        </div>

        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-md-6 text-center">
                    <div class="sign-in-detail text-white">
                        <a class="sign-in-logo mb-2" href="/">
                            <img src="{{ asset(path_images ~ 'logo1.png') }}" class="img-fluid" alt=""
                                 style="height: 70px;">
                            <h2 class="d-flex justify-content-center" style="font-family:'BigJohn';">Face <span
                                        style="font-family:'SlimJoe';">Cook</span></h2>
                        </a>
                        <div class="">
                            <img src="{{ asset(path_images ~ 'cheff.png') }}" class="img-fluid mb-4" alt="cheff">
                        </div>
                        <a class="sign-in-logo mb-5" href="#">
                            <img src="{{ asset(path_images ~ 'Logo_TD_fd_transparent.png') }}" class="img-fluid" alt=""
                                 style="height: 90px;">
                        </a>

                    </div>
                </div>
                <div class="col-md-6 bg-white pt-5 d-flex align-items-center justify-content-center">
                    <div class="sign-in-from">
                        <h1 class="mb-5 text-center">Se Connecter</h1>

                        <form method="post" class="mt-4">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    <span>Vous êtes connecté(e) en tant que</span> <span
                                            style="color:#ff6c40; font-weight:400;">{{ app.user.username }}, </span><a
                                            href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}

                            <div class="form-group form-login">
                                <label for="inputEmail"><span>Email</span></label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" required autofocus>
                            </div>
                            <div class="form-group mb-5 form-login">
                                <label for="inputPassword"><span style="font-size: larger;">Mot de passe</span></label>
                                <a href="{{ path('app_forgot_password_request') }}" class="float-right"> <span>Mot de passe oublié?</span>
                                </a>
                                <input type="password" class="form-control mb-0" name="password" id="inputPassword"
                                       placeholder="Votre mot de passe" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            #}

                            <div class="d-inline-block w-100 mb-5">
                                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                    <label>
                                        <input type="checkbox" name="_remember_me" class="custom-control-input"
                                               id="remenber_me">
                                    </label>
                                    <label class="custom-control-label text-primary" for="customCheck1"
                                           style="font-size: larger;">Souvenir de moi </label>
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--container end-->
    </section>

{% endblock %}
