{% extends 'base.html.twig' %}

{% block title %} Cantine Scolaire - {% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\AccueilController::allRecipes')) }}

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body profile-page p-0">
                        <div class="profile-header profile-info">
                            <div class="cover-container">
                                <img src="{{ asset(path_images ~'page-img/bg-4.png')}}" alt="profile-bg"
                                    class="rounded img-fluid">
                            </div>
                            <div
                                class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                                <div class="social-links">
                                    <h4>Cantines Scolaires</h4>
                                </div>
                                <div class="social-info">
                                    <ul
                                        class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                        <li class="text-center pl-3">
                                            <h6> Total</h6>
                                            <p class="mb-0 text-primary" style="font-size: large;">
                                                {{ cantines| length }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--col-sm-12-->
            {% for cantine in cantines %}
            <div class="col-lg-4 mt-5">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{{ asset(path_images ~'page-img/09.png')}}" alt="">
                            </div>
                            <h5 class="mb-2 text-center">{{ cantine.nom }}</h5>
                            <p class="mb-0"><span class="text-primary" style="font-weight: 520;"> Adresse:</span>
                                {{ cantine.adresse }}.</p>
                            <p class="mb-0"><span class="text-primary" style="font-weight: 520;"> Ville:</span>
                                {{ cantine.ville }}.</p>
                            <p class="mb-0"><span class="text-primary" style="font-weight: 520;">CP :</span>
                                {{ cantine.cp }}</p>
                            <p><span class="text-primary" style="font-weight:520 ;"> Telephone:</span>
                                {{ cantine.telephone }}</p>
                            <p><span class="text-primary text-uppercase " style="font-weight:520 ;"> Resp:</span>
                                {{ cantine.users }} </p>

                        </div>
                    </div>
                </div>
            </div> <!-- col-lg-4 end-->
            {% endfor %}
        </div><!-- col-row end-->
    </div>
</div>

<!-- Wrapper END -->
{% endblock %}
