{% extends 'base.html.twig' %}

{% block title %}Recettes -{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\AccueilController::allRecipes')) }}

    <!-- Page Content-->

    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                            <div class="profile-header">
                                <div class="cover-container">
                                    <img src="{{ asset(path_images ~ 'page-img/profile-bg10.jpg') }}" alt="profile-bg"
                                         class="rounded img-fluid">
                                </div>
                                <div
                                        class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                                    <div class="social-links">
                                        <h4>Recettes</h4>
                                    </div>
                                    <div class="social-info">
                                        <ul
                                                class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                            <li class="text-center pl-3">
                                                <h6> Post</h6>
                                                <p class="mb-0 text-primary" style="font-size: large;">
                                                    {{ recettes| length }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col-12 end-->
                <!-- Liste des Recettes-->
                {% for  recette in recettes %}
                    <!--Boucle recettes-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="container-img-fit" style="background: black;">
                                <img class="card-img-top" src="{{ asset('publications/' ~ recette.photo ) }}"
                                     alt="Recette">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title text-uppercase" style="color: #ff6c40;">{{ recette.titre }}</h4>
                                <p class="card-text text-justify">{{ recette.description }}</p>

                                <a href="{{ path('recette_detail', {'id': recette.id}) }}" class="btn btn-primary">Lire
                                    plus
                                </a>

                            </div>
                        </div>
                    </div><!-- .col-md-4 -->
                {% endfor %}
            </div>
        </div>
    </div> <!-- Content-page end-->
{% endblock %}
