{% extends 'base.html.twig' %}

{% block title %}Recettes -{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\AccueilController::allRecipes')) }}

<!-- PAGE CONTENT-->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height blog blog-detail">
                    <div class="iq-card-body">
                        <div class="image-block">
                            <img src="{{asset('publications/' ~ publication.photo ) }}" class="img-fluid rounded w-100"
                                alt="recette">
                        </div>
                        <div class="blog-description mt-3">
                            <h4 class="mb-3 pb-3 border-bottom text-center text-uppercase" style="color: #ff6c40;">
                                {{ publication.titre }}</h4>

                            <div class="like-block d-flex align-items-center ">
                                <a id="like-data"
                                   data-nblikes="{{ publication.likes|length }}"
                                   data-path="{{ path('publication_like', {id: publication.id}) }}">
                                    <i id="icon_thumb"
                                       class="{{ app.user and publication.likedByUser(app.user) ? 'ri-thumb-up-fill text-primary' : 'ri-thumb-up-line text-primary' }}
                                       fa-2x"></i>
                                    <span class=" text-primary"
                                      id="nb_likes"
                                      aria-haspopup="true" aria-expanded="false" role="button">
                                        {{ publication.likes|length }} &nbsp; J'aime
                                    </span>
                                </a>
                                <a href="#" class="ml-4"> <i class="ri-chat-2-line  fa-2x"></i> {{ publication.commentaires|length}} <span class="ml-2 text-primary"> Comments</span></a>
                                 <!-- Favorite-->
                                 <a class="favorite-data ml-4" data-target="icon_favorite_{{ publication.id }}"
                                 data-path="{{ path('recette_favorite', {id: publication.id}) }}">
                                 <i id="icon_favorite_{{ publication.id }}" class="{{ app.user and publication.favoriteOfUser(app.user) ? 'ri-heart-fill text-primary' : 'ri-heart-line text-primary' }}
                                  fa-2x">
                                 </i>
                                 <span class="text-primary"> Favorite</span>
                             </a>
                                <a href="#" class="ml-4"> <i class="far  fa-user text-primary  fa-2x"></i><span class="ml-2 text-primary"> {{ publication.users }}</span></a>
                            </div>
                            <hr>
                            <p>{{ publication.contenu }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- container-->
</div> <!-- Content-page end-->


{% endblock %}

{%  block javascripts %}
 {{ parent() }}
    <script>
          /////////// FAVORITES /////////////
          let favoriteButtons = Array.from(document.getElementsByClassName('favorite-data'));
          favoriteButtons.forEach(favoriteButton => {
              favoriteButton.addEventListener('click', e => {
                  e.preventDefault();
                  let btn = e.currentTarget;
                  let path = btn.dataset.path;
                  let target = btn.dataset.target;
                  fetch(path, {
                          method: 'POST'
                      })
                      .then(response => {
                          const favorite = document.getElementById(`${target}`);
                          if (favorite.classList.contains('ri-heart-fill')) {
                              favorite.classList.replace('ri-heart-fill', 'ri-heart-line');
                          } else {
                              favorite.classList.replace('ri-heart-line', 'ri-heart-fill');
                          }
                      })
              });
          })
    </script>
{% endblock %}
