{% extends 'base.html.twig' %}

{% block title %}Recettes -{% endblock %}

{% block body %}

<!-- Right Sidebar Panel Start-->
<div class="right-sidebar-mini right-sidebar">
    <div class="right-sidebar-panel p-0">
        <div class="iq-card shadow-none">
            <div class="iq-card-body p-0">
                <div class="media-height p-3">
                    <div class="card recent-posts mb-4 shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title mx-0 mt-0 mb-3">Dernières Recettes</h4>
                            <ul class="pl-2 ">
                                <!--Boucle Dernières Recettes-->
                                <!-- Item -->
                                {% for recette in lastRecettes %}
                                <li class="recent-post-item">
                                    <img src="{{asset('images/publications/' ~ recette.photo ) }}" alt="recettes" width="60"
                                        height="60">
                                    <div class="body-recent-post">
                                        <a href="{{ path('recette_detail', {'id': recette.id}) }}">
                                            <h5 class="mt-0 mx-0 mb-1 text-primary text-uppercase">
                                                {{ recette.titre }}
                                            </h5>
                                        </a>
                                        <span>
                                            <i class="las la-thumbs-up la-lg"></i>
                                            500
                                        </span>
                                        <span>
                                            <i class="ri-chat-2-line la-1x mr-1"></i>
                                            {{ recette.commentaires|length}}
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Catégories -->
                    <div class="card recent-posts shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Catégories</h5>
                            <ul class="pl-0">
                                <li class="recent-post-item">
                                    <a href="{{ path('recette')}}" style="font-weight: 500;">Recettes</a>
                                    <span class="number-posts ml-auto text-primary"
                                        style="font-weight: 500;">{{ recettes|length }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar-toggle bg-primary mt-3">
                    <i class="ri-arrow-left-line side-left-icon"></i>
                    <i class="ri-arrow-right-line side-right-icon"><span class="ml-3 d-inline-block">Fermer
                            Menu</span></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Right Sidebar Panel End-->

<!-- PAGE CONTENT-->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height blog blog-detail">
                    <div class="iq-card-body">
                        <div class="image-block">
                            <img src="{{asset('images/publications/' ~ publication.photo ) }}" class="img-fluid rounded w-100"
                                alt="recette">
                        </div>
                        <div class="blog-description mt-3">
                            <h4 class="mb-3 pb-3 border-bottom text-center text-uppercase" style="color: #ff6c40;">
                                {{ publication.titre }}</h4>
                            <div class="like-block d-flex ">
                                <a id="like-data"
                                   data-nblikes="{{ publication.likes|length }}"
                                   data-path="{{ path('publication_like', {id: publication.id}) }}">
                                    <i id="icon_thumb"
                                       class="{{ app.user and publication.likedByUser(app.user) ? 'ri-thumb-up-fill' : 'ri-thumb-up-line' }}
                                       fa-2x"></i>
                                    <span class="ml-2"
                                      id="nb_likes"
                                      aria-haspopup="true" aria-expanded="false" role="button">
                                        {{ publication.likes|length }} J'aime
                                    </span>
                                </a>
                                <a href="#" class="ml-4"> <i class="ri-chat-2-line  fa-2x"></i> {{ publication.commentaires|length}} <span class="ml-2"> Comments</span></a>
                                <a href="#" class="ml-4"> <i class="ri-heart-fill  fa-2x"></i><span class="ml-2"> Favorite</span></a>
                                <a href="#" class="ml-4"> <i class="far fa-user text-primary  fa-2x"></i><span class="ml-2"> {{ publication.users }}</span></a>
                            </div>
                            <p>{{ publication.contenu }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- container-->
</div> <!-- Content-page end-->


{% endblock %}

{% block javascripts %}
    <script>
        let likeButton = document.getElementById('like-data');
        likeButton.addEventListener('click', e => {
            e.preventDefault();
            let btn = e.currentTarget;
            let path = btn.dataset.path;
            let nbLikes = Number(btn.dataset.nblikes);
            fetch(path, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    const likesText = document.getElementById(`nb_likes`);
                    data.toString() === '-' ? nbLikes-- : nbLikes++;
                    const thumb = document.getElementById(`icon_thumb`);
                    if (thumb.classList.contains('ri-thumb-up-fill')) {
                        thumb.classList.replace('ri-thumb-up-fill', 'ri-thumb-up-line');
                    } else {
                        thumb.classList.replace('ri-thumb-up-line', 'ri-thumb-up-fill');
                    }

                    likesText.innerText = `${nbLikes} J'aime`;
                    btn.dataset.nblikes = nbLikes;
                })
        });
    </script>
{% endblock %}