{% extends 'base.html.twig' %}

{% block title %}Faq - {% endblock %}

{% block body %}

<!-- Right Sidebar Panel Start-->
<div class="right-sidebar-mini right-sidebar">
    <div class="right-sidebar-panel p-0">
        <div class="iq-card shadow-none">
            <div class="iq-card-body p-0">
                <div class="media-height p-3">
                    <div class="card recent-posts mb-4 shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title mx-0 mt-0 mb-3">Dernières Recettes</h4>
                            <ul class="pl-2 ">
                                <!--Boucle Dernières Recettes-->
                                <!-- Item -->
                                {% for recette in lastRecettes %}
                                <li class="recent-post-item">
                                    <img src="{{asset('publications/' ~ recette.photo ) }}" alt="recettes"
                                        width="60" height="60">
                                    <div class="body-recent-post">
                                        <a href="{{ path('recette_detail', {'id': recette.id}) }}">
                                            <h5 class="mt-0 mx-0 mb-1 text-uppercase">
                                                {{ recette.titre }}
                                            </h5>
                                        </a>
                                        <span class="text-primary">
                                            <i class="las la-thumbs-up la-lg"></i>
                                            {{ recette.favorites|length }}
                                        </span>
                                        <span class="text-primary">
                                            <i class="ri-chat-2-line la-1x mr-1"></i>
                                            {{ recette.commentaires|length}}
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Catégories -->
                    <div class="card recent-posts shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Catégories</h5>
                            <ul class="pl-0">
                                <li class="recent-post-item">
                                    <a href="{{ path('recette')}}" style="font-weight: 500;">Recettes</a>
                                    <span class="number-posts ml-auto text-primary"
                                        style="font-weight: 500;">{{ recettes|length }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar-toggle bg-primary mt-3">
                    <i class="ri-arrow-left-line side-left-icon"></i>
                    <i class="ri-arrow-right-line side-right-icon"><span class="ml-3 d-inline-block">Fermer
                            Menu</span></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Right Sidebar Panel End-->

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="iq-card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Questions Fréquentes</h3>
                        <p class="text-white">Communauté de Communes Lavalette Tude Dronne </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="iq-accordion career-style faq-style  ">
                    <div class="iq-card iq-accordion-block accordion-active">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> It is a long established
                                                fact that a reader will be? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                their default model text, and a search for 'lorem ipsum' will uncover many web sites
                                still in their infancy. </p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> Distracted by the readable
                                                content of a page whent? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span>What is user interface kit?
                                            </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> The readable content of a
                                                page when looking at its layout? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> The readable content of a
                                                page when looking at its layout? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> What is user interface kit?
                                            </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="iq-accordion career-style faq-style  ">
                    <div class="iq-card iq-accordion-block accordion-active">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> It is a long established
                                                fact that a reader will be? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                their default model text, and a search for 'lorem ipsum' will uncover many web sites
                                still in their infancy. </p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> Distracted by the readable
                                                content of a page whent? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span>What is user interface kit?
                                            </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> The readable content of a
                                                page when looking at its layout? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> The readable content of a
                                                page when looking at its layout? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> What is user interface kit?
                                            </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> The readable content of a
                                                page when looking at its layout? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">It has survived not only five centuries, but also the leap into electronic
                                typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Wrapper END -->
{% endblock %}
