<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}FaceCook</title>
    {% block stylesheets %}{% endblock %} 
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('images/ico.png')}}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css')}}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href=" {{ asset('css/typography.css')}} ">
    <!-- Style CSS -->
    <link rel="stylesheet" href=" {{ asset('css/style.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href=" {{ asset('css/responsive.css')}}">
    <!--Fonts style-->
    <link rel="stylesheet" href=" {{ asset('css/all.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<!--HEADER AND NAVIGATION-->

<body class="right-column-fixed">
    <!-- loader Start 
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>-->
    <!-- loader END -->
    <!-- Wrapper Start -->
    {% set route_name = app.request.attributes.get('_route') %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li {% if route_name == "accueil" %} class="active" {% else %} class="nav-item" {% endif %}>
                            <a href="/" class="iq-waves-effect"><i class="ri-home-line"></i>
                                <span>Accueil</span></a>
                        </li>
                        <li {% if route_name == "profil_edit" %} class="active" {% else %} class="" {% endif %}>
                            <a href="#profilSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="las la-user"></i>
                                <span>Profil</span>
                            </a>
                            <ul class="collapse list-unstyled" id="profilSubmenu">
                                <li>
                                    <a href="{{ path('profil',{'id':app.user.id}) }}">Mon Profil</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_edit',{'id':app.user.id}) }}">Éditer Profil</a>
                                </li>
                            </ul>
                        </li>
                        <li {% if route_name == "recette" %} class="active" {% else %} class="" {% endif %}>
                            <a href="{{path('recette')}}" class="iq-waves-effect">
                                <i class="las la-list-alt"></i><span>Recettes</span></a>
                        </li>
                        <li {% if route_name == "document" %} class="active" {% else %} class="" {% endif %}>
                            <a href="{{path('document')}}" class="iq-waves-effect">
                                <i class="ri-folder-open-line"></i><span>Documents</span></a>
                        </li>

                        <li {% if route_name == "cantine_index" %} class="active" {% else %} class="" {% endif %}>
                            <a href="{{ path('cantine_index')}}" class="iq-waves-effect"><i
                                    class="ri-restaurant-line"></i><span>Cantine
                                    Scolaire</span></a>
                        </li>
                        <li>
                            <a href="{{path('contact')}}" class="iq-waves-effect">
                                <i class="ri-mail-send-line"></i><span>Contact</span></a>
                        </li>
                        <li>
                            <a href="calendar.html" class="iq-waves-effect"><i
                                    class="las la-calendar"></i><span>Calendrier</span></a>
                        </li>
                        <li>
                            <a href="{{path('faq')}}" class="iq-waves-effect"> <i
                                    class="las la-question"></i><span>FAQ</span></a>
                        </li>
                        <li class="active">
                            <a href="{{ path('app_logout')}}" class="iq-waves-effect" role="button"><i
                                    class="ri-login-box-line"></i>
                                <span>Déconnexion</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>
        </div>
        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex justify-content-between">
                        <a href="/">
                            <img src="{{asset('images/logo1.png')}}" class="img-fluid" alt="Logo">
                            <h2 class="d-flex justify-content-center" style="font-family:'BigJohn';">Face <span
                                    style="font-family:'SlimJoe';">Cook</span></h2>
                        </a>
                        <div class="iq-menu-bt align-self-center">
                            <div class="wrapper-menu">
                                <div class="main-circle"><i class="ri-menu-line"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                            <input type="text" class="text search-input" placeholder="Rechercher">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">
                            {% if is_granted('ROLE_ADMIN')%}
                            <li>
                                <a href="{{ path('admin')}}" class="iq-waves-effect d-flex align-items-center">
                                    <span>Admin</span><i class="las la-tachometer-alt" style="font-size: x-large;"></i>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                {% if app.user.avatar is defined and app.user.avatar is not null %}
                                <a href="#" class="iq-waves-effect d-flex align-items-center">
                                    <img src="{{asset('images/user/' ~ app.user.avatar ) }}"
                                        class="img-fluid rounded-circle mr-3" alt="photo profil">
                                    <div class="caption">
                                        {% if app.user.pseudo is defined and app.user.pseudo is not null %}
                                        <h6 class="mb-0 line-height">{{ app.user.pseudo }}</h6>
                                        {% else %}
                                        <h6 class="mb-0 line-height">{{ app.user.prenom }} {{ app.user.nom }}</h6>                                  
                                        {% endif %}                                        
                                    </div>
                                </a>
                                {% else %}
                                <a href="profile.html" class="iq-waves-effect d-flex align-items-center">
                                    <img src="{{asset('images/user/profil_photo.png')}}"
                                        class="img-fluid rounded-circle mr-3" alt="user">
                                    <div class="caption">
                                        <h6 class="mb-0 line-height">{{ app.user.prenom }} {{ app.user.nom }}</h6>
                                    </div>
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="/" class="iq-waves-effect d-flex align-items-center">
                                    <i class="ri-home-line"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="search-toggle iq-waves-effect">
                                    <div id="lottie-beil"></div>
                                    <span class="bg-danger dots"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">All Notifications<small
                                                        class="badge  badge-light float-right pt-1">4</small></h5>
                                            </div>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/01.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Emma Watson Bni</h6>
                                                        <small class="float-right font-size-12">Just Now</small>
                                                        <p class="mb-0">95 MB</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/02.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New customer is join</h6>
                                                        <small class="float-right font-size-12">5 days ago</small>
                                                        <p class="mb-0">Cyst Bni</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/03.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Two customer is left</h6>
                                                        <small class="float-right font-size-12">2 days ago</small>
                                                        <p class="mb-0">Cyst Bni</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/04.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                        <small class="float-right font-size-12">3 days ago</small>
                                                        <p class="mb-0">Cyst Bni</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="search-toggle iq-waves-effect">
                                    <div id="lottie-mail"></div>
                                    <span class="bg-primary count-mail"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">All Messages<small
                                                        class="badge  badge-light float-right pt-1">5</small></h5>
                                            </div>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/01.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Bni Emma Watson</h6>
                                                        <small class="float-left font-size-12">13 Jun</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/02.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                                        <small class="float-left font-size-12">20 Apr</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/03.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Why do we use it?</h6>
                                                        <small class="float-left font-size-12">30 Jun</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/04.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Variations Passages</h6>
                                                        <small class="float-left font-size-12">12 Sep</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded"
                                                            src="{{asset('images/user/05.jpg')}}" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                                        <small class="float-left font-size-12">5 Dec</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--
                   <ul class="navbar-list">
                      <li>
                         <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <i class="ri-arrow-down-s-fill"></i>
                         </a>
                         <div class="iq-sub-dropdown iq-user-dropdown">
                            <div class="iq-card shadow-none m-0">
                               <div class="iq-card-body p-0 ">
                                  <div class="bg-primary p-3 line-height">
                                     <h5 class="mb-0 text-white line-height">Hello Bni Cyst</h5>
                                     <span class="text-white font-size-12">Available</span>
                                  </div>
                                  <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                     <div class="media align-items-center">
                                        <div class="rounded iq-card-icon iq-bg-primary">
                                           <i class="ri-file-user-line"></i>
                                        </div>
                                        <div class="media-body ml-3">
                                           <h6 class="mb-0 ">My Profile</h6>
                                           <p class="mb-0 font-size-12">View personal profile details.</p>
                                        </div>
                                     </div>
                                  </a>
                                  <a href="profile-edit.html" class="iq-sub-card iq-bg-warning-hover">
                                     <div class="media align-items-center">
                                        <div class="rounded iq-card-icon iq-bg-warning">
                                           <i class="ri-profile-line"></i>
                                        </div>
                                        <div class="media-body ml-3">
                                           <h6 class="mb-0 ">Edit Profile</h6>
                                           <p class="mb-0 font-size-12">Modify your personal details.</p>
                                        </div>
                                     </div>
                                  </a>
                                 
                               </div>
                            </div>
                         </div>
                      </li>
                   </ul>-->
                    </div>
                </nav>
            </div>
        </div>
        <!-- TOP Nav Bar END -->
        {% block body %}

        <!--PAGE CONTENT ...-->

        {% endblock %}
    </div> <!-- div wrapper end-->
    <!--FOOTER-->
    <footer class="bg-white iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Politique de confidentialité</a>
                        </li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Conditions d'utilisation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-left">
                    Copyright 2020 <a href="#">FaceCook - CCLTD</a> Tous les droits sont réservés.
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="  {{ asset('js/jquery.min.js') }}"></script>
    <script src="  {{ asset('js/popper.min.js') }}"></script>
    <script src="  {{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Wow JavaScript -->
    <script src="{{asset('js/lottie.js')}}"></script>
    <!-- Sidebar rigth -->
    <script src="{{asset('js/chart-custom.js')}}"></script>
    <!-- Custom JavaScript -->
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <!-- Appear JavaScript -->
    <script src="{{asset('js/jquery.appear.js')}}"></script>
    <script src="{{asset('js/jquery.counterup.min.js')}}"></script>
    <!-- Slick JavaScript -->
    <script src="{{asset('js/slick.min.js')}}"></script>
    <!-- Select2 JavaScript -->
    <script src="{{asset('js/select2.min.js')}}"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="{{asset('js/smooth-scrollbar.js')}}"></script>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>

</html>